body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 1000px;
    font-size: 18px;
    margin-left: 150px;
}

* {
    box-sizing: border-box;
    text-align: center;
  }

header {
    width: 100%;
}

#header {
    background: #ebebeb;
}

ul {
    list-style-type: none;
    margin: 10;
    padding: 10;
    background: #ebebeb;
}

li {
    display: inline;
    padding: 15px;
}

aside {
    display: block;
    background: #ebebeb;
    float: right;
    width: 495px;
    height: 300px;
}

section {
    display: block;
    background: #ebebeb;
    float: left;
    width: 495px;
    height: 375px;
}

#footer {
    background: #ebebeb;
    width: 100%;
    height: 20px;
    margin-bottom: 10px;

}